*.pyc
fullres*
__pycache__
data
*.pt
local_train.sh
capture
capture/*
json
output
*.so
*.egg-info
lib/pointgroup_ops/build
lib/Pointnet2/
weights
*.pth
*.pt
.vscode
result
kitti
depth
lidar
kitti360
output
ckpt/vqvae-epoch=34-val_loss=0.18.ckpt
ckpt/vqvae-epoch=56-val_loss=0.24.ckpt
